<!DOCTYPE html>
<html lang="en" class="bg-stone-800 m-4">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="{{ url_for('static', filename='boron.svg') }}" type="image/x-icon" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}" />
    <script src="https://cdn.tailwindcss.com"></script>
    {% block head %}

    {% endblock %}
  </head>

  <body>
    {% if dev is defined %}
      <nav>
        <div class="mx-auto px-2 sm:px-6 lg:px-8">
          <div class="relative flex h-16 items-center justify-between">
            <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
              <!-- Mobile menu button -->
              <button type="button" class="relative inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-stone-600 hover:text-white focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white" aria-controls="mobile-menu" aria-expanded="false">
                <span class="absolute -inset-0.5"></span>
                <span class="sr-only">Open main menu</span>
                <!--       
                Icon when menu is closed.
    
                Menu open: "hidden", Menu closed: "block"
                     -->
                <svg class="block h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                </svg>
                <!--       
                Icon when menu is open.
    
                Menu open: "block", Menu closed: "hidden"
                     -->
                <svg class="hidden h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                </svg>
              </button>
            </div>
            <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
              <div class="flex flex-shrink-0 items-center">
                <img class="h-8 w-auto" src="{{ url_for('static', filename='boron.svg') }}" alt="Fig. Boron" />
              </div>
              <div class="hidden sm:ml-6 sm:block">
                <div class="flex space-x-4">
                  <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-stone-600 hover:text-white" -->
                  <a href="#" class="rounded-md bg-stone-900 px-3 py-2 text-sm font-medium text-white" aria-current="page">Dashboard</a>
                  <a href="#" class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-stone-600 hover:text-white">Team</a>
                  <a href="#" class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-stone-600 hover:text-white">Projects</a>
                  <a href="#" class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-stone-600 hover:text-white">Calendar</a>
                </div>
              </div>
            </div>
            <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
              <!-- Profile dropdown -->
              <div class="relative ml-3">
                <div>
                  <button id="user-dropdown-btn" type="button" onclick="click_user_dropdown()" class="relative flex rounded-full bg-stone-600 text-sm" aria-expanded="false" aria-haspopup="true">
                    <svg width="40px" height="40px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <circle cx="12" cy="8" r="4" fill="#292524" />
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M12 13C8.33033 13 5.32016 15.4204 5.02395 18.5004C4.99752 18.7753 5.22389 19 5.50003 19H18.5C18.7762 19 19.0025 18.7753 18.9761 18.5004C18.6799 15.4204 15.6697 13 12 13Z" fill="#9333ea" />
                    </svg>
                  </button>
                  <script>
                    dropdown_open = false
                    click_user_dropdown = () => {
                      dropdown_open = !dropdown_open
                      obj = document.querySelector('#user-dropdown')
                      if (dropdown_open) {
                        obj.classList.remove('hidden')
                      } else {
                        obj.classList.add('hidden')
                      }
                    }
                  </script>
                </div>

                <!--       
                Dropdown menu, show/hide based on menu state.
    
                Entering: "transition ease-out duration-100"
                  From: "transform opacity-0 scale-95"
                  To: "transform opacity-100 scale-100"
                Leaving: "transition ease-in duration-75"
                  From: "transform opacity-100 scale-100"
                  To: "transform opacity-0 scale-95"
                     -->
                <div id="user-dropdown" class="hidden absolute right-0 z-10 m-4 w-48 origin-top-right rounded-md bg-stone-200 py-1 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="user-menu-button" tabindex="-1">
                  <!-- Active: "bg-gray-100", Not Active: "" -->
                  <a href="#" class="mx-1 block rounded-lg px-4 py-2 text-sm text-stone-800 hover:bg-stone-600 hover:text-white" role="menuitem" tabindex="-1" id="user-menu-item-0">Your Profile</a>
                  <a href="#" class="mx-1 block rounded-lg px-4 py-2 text-sm text-stone-800 hover:bg-stone-600 hover:text-white" role="menuitem" tabindex="-1" id="user-menu-item-1">Settings</a>
                  <a href="{{ url_for('auth.logout') }}" class="mx-1 block rounded-lg px-4 py-2 text-sm text-stone-800 hover:bg-stone-600 hover:text-white" role="menuitem" tabindex="-1" id="user-menu-item-2">Sign out</a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Mobile menu, show/hide based on menu state. -->
        <div class="sm:hidden" id="mobile-menu">
          <div class="space-y-1 px-2 pb-3 pt-2">
            <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-stone-600 hover:text-white" -->
            <a href="#" class="block rounded-md bg-gray-900 px-3 py-2 text-base font-medium text-white" aria-current="page">Dashboard</a>
            <a href="#" class="block rounded-md px-3 py-2 text-base font-medium text-gray-300 hover:bg-stone-600 hover:text-white">Team</a>
            <a href="#" class="block rounded-md px-3 py-2 text-base font-medium text-gray-300 hover:bg-stone-600 hover:text-white">Projects</a>
            <a href="#" class="block rounded-md px-3 py-2 text-base font-medium text-gray-300 hover:bg-stone-600 hover:text-white">Calendar</a>
          </div>
        </div>
      </nav>
    {% endif %}
    {% block body %}

    {% endblock %}
  </body>
</html>
