{% extends 'base.html' %}
{% block head %}
  <title>App: {{ app.name }}</title>
{% endblock %}
{% block body %}
  <div class="grid grid-cols-3 gap-4 m-4">
    <div class="bg-stone-700 rounded-3xl p-8">
      <dt>
        <h3 class="text-2xl font-bold">Users</h3>
      </dt>
      <dd><code class="text-4xl t-accent font-bold">114514</code></dd>
    </div>
    <div class="bg-stone-700 rounded-3xl p-8">
      <dt>
        <h3 class="text-2xl font-bold">Keys</h3>
      </dt>
      <dd><code class="text-4xl t-accent font-bold">114514</code></dd>
    </div>
    <div class="bg-stone-700 rounded-3xl p-8">
      <dt>
        <h3 class="text-2xl font-bold">Secured Data</h3>
      </dt>
      <dd><code class="text-4xl t-accent font-bold">114514</code></dd>
    </div>
  </div>
{% endblock %}
