<!DOCTYPE html>
<html lang="en" class="bg-gray-950">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    {% block head %}

    {% endblock %}
  </head>

  <body>
    <!-- nav bar -->
    <ul class="flex">
      <li class="mr-3">
        <a href="{{ url_for('application.applications_home', app.id) }}" class="inline-block border border-blue-500 rounded py-1 px-3 bg-blue-500 text-white">Home</a>
      </li>
      <li class="mr-3">
        <a href="{{ url_for('application.get_app', app.id) }}" class="inline-block border border-white rounded hover:border-gray-200 text-blue-500 hover:bg-gray-200 py-1 px-3">{{ app.name }}</a>
      </li>
    </ul>

    <!-- Sidebar -->
    <div id="sidebar-mini" class="hs-overlay [--auto-close:lg] hs-overlay-open:translate-x-0 -translate-x-full transition-all duration-300 transform open opened fixed top-0 start-0 bottom-0 z-[60] w-20 bg-white border-e border-gray-200 lg:block lg:translate-x-0 lg:end-auto lg:bottom-0 [&::-webkit-scrollbar]:w-2 [&::-webkit-scrollbar-thumb]:rounded-full [&::-webkit-scrollbar-track]:bg-gray-100 [&::-webkit-scrollbar-thumb]:bg-gray-300 dark:[&::-webkit-scrollbar-track]:bg-neutral-700 dark:[&::-webkit-scrollbar-thumb]:bg-neutral-500 dark:bg-neutral-800 dark:border-neutral-700">
      <div class="flex flex-col justify-center items-center gap-y-2 py-4">
        <div class="mb-4">
          <a href="{{ url_for('application.get_app', app.id) }}"
            class="flex-none 
          {% if page == 1 %}
              text-indigo-500
            {% else %}
              text-white
            {% endif %}">
            Home
          </a>
        </div>

        <div class="hs-tooltip [--placement:right] inline-block">
          <a href="{{ url_for('application.get_app_keys', app.id) }}"
            class="{% if page == 2 %}
              text-indigo-500
            {% else %}
              text-white
            {% endif %}hs-tooltip-toggle w-[2.375rem] h-[2.375rem] inline-flex justify-center items-center gap-x-2 text-sm font-semibold rounded-full border border-transparent text-gray-500 hover:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none dark:text-neutral-400 dark:hover:bg-neutral-700">
            Keys
          </a>
        </div>

        <div class="hs-tooltip [--placement:right] inline-block">
          <a href="{{ url_for('application.get_app_users', app.id) }}"
            class="{% if page == 3 %}
              text-indigo-500
            {% else %}
              text-white
            {% endif %}hs-tooltip-toggle w-[2.375rem] h-[2.375rem] inline-flex justify-center items-center gap-x-2 text-sm font-semibold rounded-full border border-transparent text-gray-500 hover:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none dark:text-neutral-400 dark:hover:bg-neutral-700">
            Users
          </a>
        </div>
      </div>
    </div>
    <!-- End Sidebar -->
    {% block body %}

    {% endblock %}
  </body>
</html>
