{% extends 'panel/app/base.html' %}
{% block head %}
  <title>License Keys</title>
{% endblock %}
{% block body %}
  <div class="flex flex-row">
    <form action="/path" method="post">
      <div class="basis-1/4">
        <label for="count-create-key">Count</label>
        <input type="number" name="count" id="count-create-key" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" />
      </div>
      <div class="basis-1/4">
        <label for="length-create-key">Length</label>
        <input type="number" name="length" id="length-create-key" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" />
      </div>
      <div class="basis-1/4">
        <button type="submit">Generate Key</button>
      </div>
    </form>
  </div>
  <table class="table-auto">
    <thead>
      <tr>
        <th>Key</th>
        <th>Length</th>
      </tr>
    </thead>
    <tbody>
      {% for key in key %}
        <tr>
          <td>{{ key.name }}</td>
          <td>{{ key.length }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
