{% extends 'base.html' %}
{% block head %}
  <title>Keys - App: {{ app.name }}</title>
{% endblock %}
{% block body %}
  <section>
    <form action="{{ url_for('application.post_app_key', appid=app.id) }}" method="post">
      <div class="m-2 grid grid-cols-4 gap-x-6 sm:grid-cols-8 text-white w-fit">
        <div class="col-span-2">
          <label for="count-input" class="block text-sm font-medium leading-6">Count</label>
          <input type="number" name="count" id="count-input" required class="b-input mt-1" value="10" />
        </div>

        <div class="col-span-2">
          <label for="length-input" class="block text-sm font-medium leading-6">Length</label>
          <input type="number" name="length" id="length-input" required class="b-input mt-1" value="10" />
        </div>

        <div class="col-span-2">
          <label for="prefix-input" class="block text-sm font-medium leading-6">Prefix</label>
          <input type="text" name="prefix" id="prefix-input" class="b-input mt-1" minlength="5" maxlength="5" placeholder="BORON" value="{{ (app.name|upper + 'XXXXX')|batch(5)|first|join }}" />
        </div>
        <button type="submit" class="b-btn col-span-1 w-fit m-2 mt-7 mb-0.5 px-2">Generate</button>
      </div>
    </form>
    {% if keys %}
      <div class="flex fixed flex-col top-16 mt-32 m-2 mb-4 w-auto bottom-16">
        <div class="flex-grow overflow-auto">
          <table class="relative w-full">
            <thead class="bg-stone-900 sticky top-0 rounded-xl">
              <tr>
                <th class="px-8 p-1">ID</th>
                <th class="px-8 p-1">Key</th>
                <th class="px-8 p-1">Length</th>
                <th class="px-8 p-1">Creation Date</th>
                <th class="px-8 p-1">Used</th>
                <th class="px-8 p-1 select-none">Operation</th>
              </tr>
            </thead>
            <tbody class="overflow-scroll h-48 divide-y divide-solid divide-stone-700">
              {% for key in keys %}
                <tr>
                  <td class="px-8">{{ key.id }}</td>
                  <td class="px-8">
                    <code id="keyname-{{ key.id }}">{{ key.name }}</code>
                    <button type="button" onclick="toclipboard('#keyname-{{ key.id }}')">
                      <svg width="24px" height="24px" viewBox="0 0 24 18" class="-m-0.5">
                        <g id="SVGRepo_iconCarrier">
                          <path fill-rule="evenodd" clip-rule="evenodd" d="M19.5 16.5L19.5 4.5L18.75 3.75H9L8.25 4.5L8.25 7.5L5.25 7.5L4.5 8.25V20.25L5.25 21H15L15.75 20.25V17.25H18.75L19.5 16.5ZM15.75 15.75L15.75 8.25L15 7.5L9.75 7.5V5.25L18 5.25V15.75H15.75ZM6 9L14.25 9L14.25 19.5L6 19.5L6 9Z" fill="#ffffff"></path>
                        </g>
                      </svg>
                    </button>
                  </td>
                  <td class="px-8">{{ key.length }}</td>
                  <td class="px-8">
                    <script>
                      d = new Date('{{ key.creation }}')
                      document.write(d.toLocaleDateString())
                    </script>
                  </td>
                  <td class="px-8">
                    {% if key.used %}
                      <input type="checkbox" form="update-key-{{ key.id }}" name="used" checked />
                    {% else %}
                      <input type="checkbox" form="update-key-{{ key.id }}" name="used" />
                    {% endif %}
                  </td>
                  <td class="px-8 select-none">
                    <button type="submit" form="update-key-{{ key.id }}" class="mx-1 bg-emerald-500 hover:bg-emerald-700 text-white font-bold text-sm rounded-lg p-0.5">Update</button>
                    <button type="submit" form="delete-key-{{ key.id }}" class="mx-1 bg-red-500 hover:bg-red-700 text-white font-bold text-sm rounded-lg p-0.5">Delete</button>
                  </td>
                  <form id="update-key-{{ key.id }}" action="{{ url_for('application.update_app_key', appid=app.id, keyid=key.id) }}" method="post"></form>
                  <form id="delete-key-{{ key.id }}" action="{{ url_for('application.delete_app_key', appid=app.id, keyid=key.id) }}" method="post"></form>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    {% else %}
      <div class="flex justify-center mt-16">
        <p class="text-stone-400">There is currently no key for application {{ app.name }}.</p>
      </div>
    {% endif %}
  </section>
{% endblock %}
