{% extends 'base.html' %}
{% block head %}
  <title>Login</title>
{% endblock %}
{% block body %}
  <div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-sm">
      <p class="flex justify-center">
        <img src="{{ url_for('static', filename='boron.svg') }}" width="180" alt="Fig: Boron Icon" />
      </p>
      <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-white">Sign in to Boron</h2>
    </div>
    {% if error %}
      <div id="error-msg" class="mt-4 sm:mx-auto sm:w-full sm:max-w-sm">
        <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
          <strong class="font-bold">Error</strong>
          <span class="block sm:inline">{{ error }}</span>
          <button onclick="reveal('#error-msg')">
            <span class="absolute top-0 bottom-0 right-0 px-4 py-3">
              <svg class="fill-current h-6 w-6 text-red-500" viewBox="0 0 20 20">
                <path d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z" />
              </svg>
            </span>
          </button>
        </div>
      </div>
    {% endif %}
    <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
      <form id="login-credentials" class="space-y-6" action="{{ url_for('auth.login') }}" method="POST">
        <div>
          <label for="email" class="block text-sm font-medium leading-6 text-white">Email address</label>
          <div class="mt-2">
            <input id="email" name="email" type="email" class="b-input" placeholder="Email address" required />
          </div>
        </div>
        <div>
          <div class="flex items-center justify-between">
            <label for="password" class="block text-sm font-medium leading-6 text-white">Password</label>
            <div class="text-sm">
              <a href="mailto:support@boron.dev" class="font-semibold t-accent">Forgot password?</a>
            </div>
          </div>
          <div class="mt-2">
            <input id="password" name="pass" type="password" placeholder="Password" autocomplete="current-password" required class="b-input" />
          </div>
        </div>
        <div>
          <button type="submit" class="b-btn flex leading-6 shadow-sm focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-purple-600">Sign in</button>
        </div>
      </form>
      <p class="mt-10 text-center text-sm text-white">
        Do not have an account?
        <a href="{{ url_for('auth.get_register') }}" class="font-semibold leading-6 t-accent">Register</a>
      </p>
    </div>
  </div>
{% endblock %}
